# CityBikes

Send a request to CityBikes for the city of your choice.

In [52]:
#Defining packages to use

import requests as rq
import pandas as pd
import json
from IPython.display import JSON

In [53]:
#get network data
city_bike_networks = rq.get("http://api.citybik.es/v2/networks").json()

##JSON(city_bike_networks) -- Used to check JSON internally during coding

#I will use Los Angeles, USA. I checked the json and found the city code is 131
#city_bike_networks['networks'][146]
network_id = city_bike_networks['networks'][131]['id']

In [54]:
#get data for network_id
##Get network details
network_json =  "http://api.citybik.es/v2/networks/"+network_id
##Get stations data into list
stations_data = pd.read_json(network_json)['network']['stations']

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [55]:
#Organize data
def orginize_data(data):
    city_bike_info = []
    for sd in data:
    #Orginize data
        city_bike_info.append({
        'uid':          sd['extra']['uid'],
        'latitude':     sd['latitude'],
        'longitude':    sd['longitude'],
        'free_bikes':   sd['free_bikes']
        })
    return city_bike_info

In [56]:
#call function to organize json
stations_info = orginize_data(stations_data)

Put your parsed results into a DataFrame.

In [57]:
#Results in dataframe
df = pd.DataFrame(stations_info)

#Save results into csv
df.to_csv ('data/cityBikeData.csv', index = False, sep = ',')

#Show DataFrame
display(df)

                     uid  latitude  longitude  free_bikes
0    bcycle_lametro_3037  34.03480 -118.23128          10
1    bcycle_lametro_3036  34.03919 -118.23253           9
2    bcycle_lametro_3032  34.04989 -118.25588           8
3    bcycle_lametro_3024  34.05772 -118.24897           7
4    bcycle_lametro_3025  34.03286 -118.26808           8
..                   ...       ...        ...         ...
217  bcycle_lametro_3034  34.04206 -118.26338           6
218  bcycle_lametro_4563  34.01745 -118.40957           5
219  bcycle_lametro_3033  34.04099 -118.25580           8
220  bcycle_lametro_4643  34.07262 -118.44944          13
221  bcycle_lametro_4644  34.06186 -118.45002           8

[222 rows x 4 columns]