Build a regression model.

In [30]:
#Import packages
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [37]:
#Import data from previous CSV
bikesLA_data = pd.read_csv('data/final_data.csv')
bikesLA_data

,name,price,rating,review_count,uid,bk_station_distance_y,latitude,longitude,free_bikes
0,10 Speed Coffee-Santa Monica,$$,0.0,0.0,bcycle_lametro_4216,585,34.02339,-118.47964,9
1,Bagel Nosh,$$,0.0,0.0,bcycle_lametro_4216,881,34.02339,-118.47964,9
2,DK's Donuts and Bakery,$$,0.0,0.0,bcycle_lametro_4216,437,34.02339,-118.47964,9
3,Goodboybob Coffee,$$,0.0,0.0,bcycle_lametro_4216,623,34.02339,-118.47964,9
4,La Monarca Bakery,$$,0.0,0.0,bcycle_lametro_4216,967,34.02339,-118.47964,9
...,...,...,...,...,...,...,...,...,...
2195,Sabor Colombiano Restaurant,$$,0.0,0.0,bcycle_lametro_4313,641,34.05681,-118.27500,9
2196,Seoul Garden Restaurant,$$,4.0,575.0,bcycle_lametro_4313,711,34.05681,-118.27500,9
2197,Shabuya,$$,4.0,865.0,bcycle_lametro_4313,669,34.05681,-118.27500,9
2198,Starbucks,$$,0.0,0.0,bcycle_lametro_4313,449,34.05681,-118.27500,9
2199,Oceans Cafe and Grill,$$,4.5,55.0,bcycle_lametro_4544,682,33.92846,-118.43520,10

In [32]:
#Show basic information from dataframe
bikesLA_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name                   2200 non-null   object
 1   price                  2200 non-null   object
 2   rating                 2200 non-null   float64
 3   review_count           2200 non-null   float64
 4   uid                    2200 non-null   object
 5   bk_station_distance_y  2200 non-null   int64
 6   latitude               2200 non-null   float64
 7   longitude              2200 non-null   float64
 8   free_bikes             2200 non-null   int64
dtypes: float64(4), int64(2), object(3)
memory usage: 154.8+ KB

In [33]:
#Decided to change price information to add value to the model.
bikesLA_data['price']= np.where(bikesLA_data['price'] == '$',0,bikesLA_data['price'])
bikesLA_data['price']= np.where(bikesLA_data['price'] == '$$',1,bikesLA_data['price'])
bikesLA_data['price']= np.where(bikesLA_data['price'] == '$$$',2,bikesLA_data['price'])
bikesLA_data['price']= np.where(bikesLA_data['price'] == '$$$$',3,bikesLA_data['price'])

bikesLA_data['price'] = pd.to_numeric(bikesLA_data['price'])
bikesLA_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name                   2200 non-null   object
 1   price                  2200 non-null   int64
 2   rating                 2200 non-null   float64
 3   review_count           2200 non-null   float64
 4   uid                    2200 non-null   object
 5   bk_station_distance_y  2200 non-null   int64
 6   latitude               2200 non-null   float64
 7   longitude              2200 non-null   float64
 8   free_bikes             2200 non-null   int64
dtypes: float64(4), int64(3), object(2)
memory usage: 154.8+ KB

In [34]:
#Remove columns that do not contribute to the model
df_stats = bikesLA_data.drop(columns=['latitude','longitude','uid','name'])

In [35]:
#Basic information data
df_stats.describe()

,price,rating,review_count,bk_station_distance_y,free_bikes
count,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000
mean,1.000000,1.330682,597.094091,458.487727,6.828636
std,0.326209,1.923642,1821.553228,269.360293,3.013113
min,0.000000,0.000000,0.000000,6.000000,0.000000
25%,1.000000,0.000000,0.000000,238.000000,5.000000
50%,1.000000,0.000000,0.000000,430.000000,6.000000
75%,1.000000,4.000000,552.000000,666.250000,9.000000
max,3.000000,5.000000,18069.000000,1015.000000,17.000000

Provide model output and an interpretation of the results.

In [36]:
#run full model
y = df_stats['free_bikes']
X = df_stats.drop('free_bikes', axis=1)
X = sm.add_constant(X) #adds a column of 1's so the model will contain an intercept

model = sm.OLS(y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             free_bikes   R-squared:                       0.014
Model:                            OLS   Adj. R-squared:                  0.012
Method:                 Least Squares   F-statistic:                     7.727
Date:                Sun, 26 Feb 2023   Prob (F-statistic):           3.51e-06
Time:                        17:23:21   Log-Likelihood:                -5532.3
No. Observations:                2200   AIC:                         1.107e+04
Df Residuals:                    2195   BIC:                         1.110e+04
Df Model:                           4
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                     7.3614      0.240     30.685      0.000       6.891       7.832
price                    -0.0368      0.198     -0.186      0.852      -0.425       0.352
rating                   -0.0716      0.038     -1.904      0.057      -0.145       0.002
review_count              0.0001   4.01e-05      3.290      0.001    5.33e-05       0.000
bk_station_distance_y    -0.0010      0.000     -4.409      0.000      -0.002      -0.001
==============================================================================
Omnibus:                      152.996   Durbin-Watson:                   0.201
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              194.357
Skew:                           0.634   Prob(JB):                     6.25e-43
Kurtosis:                       3.717   Cond. No.                     8.98e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.98e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

> - After reviewing the data from Foursquare and Yelp against the city bike dataset; I notice that the values do not have a high correlation. For example the quantity of available bikes is not related with any other variable.
> - Even after including the price variable and review counts there is not strong dependance of the variables.
> - The model requires more information to define any conclusion. It is hard to determine if the reviews are related to people using city bikes.

# Stretch

How can you turn the regression model into a classification model?